---
import Demo from './demo.astro'
---

<Demo>
	<div class="flex min-h-40 items-center justify-center p-2">
		<nav
			id="animated-tabs"
			class="text-muted-foreground scrollbar-none relative overflow-x-auto border-b"
		>
			<ul
				class="[&>li>button]:hover:text-foreground flex items-center pb-2 text-sm [&>li>button]:inline-block [&>li>button]:cursor-pointer [&>li>button]:px-3 [&>li>button]:py-1 [&>li>button]:text-current [&>li>button]:transition-colors"
			>
				<li>
					<button>Overview</button>
				</li>
				<li><button>Activity</button></li>
				<li><button>Usage</button></li>
				<li><button>AI</button></li>
				<li><button>Support</button></li>
				<li><button>Settings</button></li>
			</ul>
			<div
				id="menu-backdrop"
				class="absolute top-0 left-0 -z-10 h-(--height) w-(--width) translate-x-(--left) translate-y-(--top) rounded bg-gray-300 opacity-0 transition-all duration-250 ease-in-out"
			>
			</div>
			<div
				id="tab-underline"
				class="bg-foreground absolute bottom-0 left-0 hidden h-[2px] w-[100px] origin-[0_0_0] transition-transform"
			>
			</div>
		</nav>
	</div>
</Demo>

<script>
	const listItems = document.querySelectorAll(
		'#animated-tabs li'
	) as NodeListOf<HTMLLIElement>
	const menuBackDrop = document.getElementById(
		'menu-backdrop'
	) as HTMLDivElement
	const tabUnderline = document.getElementById(
		'tab-underline'
	) as HTMLDivElement

	// initial tab underline position
	tabUnderline.style.transform = `translateX(${listItems[0].offsetLeft}px) scaleX(${listItems[0].offsetWidth / 100})`
	tabUnderline.style.display = 'block'

	listItems.forEach(item => {
		item.addEventListener('mouseenter', () => {
			menuBackDrop.style.setProperty('--top', `${item.offsetTop}px`)
			menuBackDrop.style.setProperty('--left', `${item.offsetLeft}px`)
			menuBackDrop.style.setProperty('--width', `${item.offsetWidth}px`)
			menuBackDrop.style.setProperty('--height', `${item.offsetHeight}px`)

			menuBackDrop.style.opacity = '1'
			menuBackDrop.style.visibility = 'visible'
		})

		item.addEventListener('mouseleave', () => {
			menuBackDrop.style.opacity = '0'
			menuBackDrop.style.visibility = 'hidden'
		})

		item.addEventListener('click', () => {
			tabUnderline.style.transform = `translateX(${item.offsetLeft}px) scaleX(${item.offsetWidth / 100})`
		})
	})
</script>
