---
import Layout from '~/layouts/base.astro'
import { getCollection } from 'astro:content'
import PostCard from '~/components/PostCard.astro'
const posts = (
	await getCollection('blog', ({ data }) => {
		return data.draft !== true
	})
).sort((a, b) => {
	return b.data.pubDate.getTime() - a.data.pubDate.getTime()
})
---

<Layout title="Blog" description="Articles I have written">
	<h1 class="pb-6 text-5xl font-extrabold">Blog</h1>
	<p class="pb-3 text-right font-bold">
		{posts.length}
		{posts.length === 1 ? 'article' : 'articles'}
	</p>

	<div
		class="grid grid-cols-1 gap-8 sm:grid-cols-[repeat(auto-fill,_minmax(400px,_1fr))]"
	>
		{
			posts.map(({ data, slug }) => (
				<PostCard
					title={data.title}
					description={data.description}
					slug={slug}
					pubDate={data.pubDate}
					tags={data.tags}
				/>
			))
		}
	</div>
</Layout>
