---
import Layout from '~/layouts/base.astro'
import { getCollection } from 'astro:content'
import ArrowRight from '~/components/icons/ArrowRight.astro'
import { lengthToReadingTime } from '~/utils/helpers'
const posts = await getCollection('blog', ({ data }) => {
	return data.draft !== true
})
---

<Layout title="Blog" description="Articles I have written">
	<h1 class="pb-6 text-5xl font-extrabold">Blog</h1>
	<p class="pb-3 font-bold">
		{posts.length}
		{posts.length === 1 ? 'article' : 'articles'}
	</p>

	<div
		class="grid grid-cols-1 gap-8 sm:grid-cols-[repeat(auto-fill,_minmax(400px,_1fr))]"
	>
		{
			posts.map(post => (
				<a href={`/blog/${post.slug}`} class="">
					<article class="rounded-lg bg-white p-8 shadow transition-transform hover:scale-105 hover:shadow-md dark:border dark:border-zinc-700 dark:bg-gray-800">
						<h3 class="text-xl font-bold">{post.data.title}</h3>
						<time
							datetime={post.data.pubDate.toISOString()}
							class="text-sm text-gray-400"
						>
							{post.data.pubDate.toDateString()}
						</time>
						<p class="mt-4">{post.data.description}</p>
						<div class="flex items-center justify-between">
							<p>{lengthToReadingTime(post.body.length)}</p>
							<div class="group flex items-center gap-2">
								<p class="font-bold">Read more</p>
								<div class="text-pink-600 transition-transform group-hover:translate-x-2">
									<ArrowRight />
								</div>
							</div>
						</div>
					</article>
				</a>
			))
		}
	</div>
</Layout>
