---
import { getCollection } from 'astro:content'
import PostCard from './PostCard.astro'
const posts = (
	await getCollection('blog', ({ data }) => {
		return data.draft !== true
	})
)
	.sort((a, b) => {
		return b.data.pubDate.getTime() - a.data.pubDate.getTime()
	})
	.slice(0, 3)
---

<section class="mb-32">
	<h2 class="pb-12 text-center text-3xl font-black">
		What I've been writing...
	</h2>
	<div
		class="grid grid-cols-1 gap-8 sm:grid-cols-[repeat(auto-fill,_minmax(400px,_1fr))]"
	>
		{
			posts.map(({ data, slug, body }) => (
				<PostCard
					title={data.title}
					description={data.description}
					slug={slug}
					pubDate={data.pubDate}
					tags={data.tags}
				/>
			))
		}
	</div>
	<div class="mt-12 flex justify-center">
		<a
			href="/blog"
			class="rounded-3xl border border-slate-100 p-6 px-6 py-3 font-semibold hover:bg-zinc-100 dark:border-slate-700/50 dark:hover:bg-zinc-700/50"
			>See more</a
		>
	</div>
</section>
