---
import { lengthToReadingTime } from '~/util/helpers'

interface Props {
	title: string
	description: string
	slug: string
	pubDate: Date
	length: number
}

const { title, description, slug, pubDate, length } = Astro.props
---

<article
	class="dark:highlight-white/5 group relative rounded-3xl bg-zinc-50 p-6 hover:bg-zinc-100 dark:bg-zinc-800/80 dark:hover:bg-zinc-700/50"
>
	<h3
		class="pb-3 text-xl font-bold leading-6 text-zinc-900 group-hover:text-pink-500 dark:text-white dark:group-hover:text-pink-500"
	>
		<a href={`/blog/${slug}`}>
			<span class="absolute inset-0 rounded-3xl"></span>
			{title}
		</a>
	</h3>

	<div class="flex items-center gap-6">
		<time
			datetime={pubDate.toISOString()}
			class="text-sm text-zinc-500 dark:text-zinc-400"
		>
			{
				new Intl.DateTimeFormat('en-US', {
					year: 'numeric',
					month: 'long',
					day: 'numeric'
				}).format(pubDate)
			}
		</time>
		<p class="text-sm text-zinc-700 dark:text-zinc-300">
			{lengthToReadingTime(length)}
		</p>
	</div>

	<p class="mt-4 text-zinc-700 dark:text-zinc-300">
		{description}
	</p>
</article>
