---
import { getCollection } from 'astro:content'
import { formatDate } from '~/util/helpers'
import Link from '~/components/link.astro'

const posts = (
	await getCollection(
		'blog',
		({ data }) => import.meta.env.DEV || data.draft !== true
	)
).sort((a, b) => {
	return b.data.pubDate.getTime() - a.data.pubDate.getTime()
})
---

<section class="mt-16 space-y-8">
	<h3 class="font-medium">Writing</h3>
	<ul class="flex flex-col gap-8 md:gap-4">
		{
			posts.map(({ data, id }) => (
				<li class="flex flex-col gap-1 md:grid md:grid-cols-[140px_1fr] md:gap-4">
					<time
						class="text-muted-foreground text-sm"
						datetime={data.pubDate.toISOString()}
					>
						{formatDate(data.pubDate)}
					</time>
					<div class="space-y-2">
						<Link href={`/blog/${id}`}>{data.title}</Link>
						<p class="text-muted-foreground text-sm">{data.description}</p>
					</div>
				</li>
			))
		}
	</ul>
</section>
