---
import { getCollection } from 'astro:content'
import { formatDate } from '~/util/helpers'

const posts = (
	await getCollection(
		'blog',
		({ data }) => import.meta.env.DEV || data.draft !== true
	)
).sort((a, b) => {
	return b.data.pubDate.getTime() - a.data.pubDate.getTime()
})
---

<section class="mt-16 sm:mt-32">
	<h3 class="mb-5 font-medium sm:mb-6">Writing</h3>
	<ul class="flex flex-col gap-7 sm:gap-4">
		{
			posts.map(({ data, id }) => (
				<li>
					<a
						href={`/blog/${id}`}
						class="-mx-3 flex gap-1 rounded-md px-3 hover:bg-[#F5F4F4] sm:py-3 md:grid md:grid-cols-[1fr_140px] md:gap-4 dark:hover:bg-gray-200"
					>
						<div class="flex flex-col">
							<span>{data.title}</span>
							<span class="text-muted-foreground">{data.description}</span>
						</div>
						<time
							class="text-muted-foreground hidden text-right text-xs leading-6 md:block"
							datetime={data.pubDate.toISOString()}
						>
							{formatDate(data.pubDate)}
						</time>
					</a>
				</li>
			))
		}
	</ul>
</section>
