---
import { getCollection } from 'astro:content'
import { formatDate } from '~/util/helpers'
import Link from '~/components/link.astro'

const posts = (
	await getCollection(
		'blog',
		({ data }) => import.meta.env.DEV || data.draft !== true
	)
).sort((a, b) => {
	return b.data.pubDate.getTime() - a.data.pubDate.getTime()
})
---

<section class="mt-16 sm:mt-32">
	<h3 class="mb-5 font-medium sm:mb-6">Writing</h3>
	<ul class="flex flex-col gap-7 md:gap-10">
		{
			posts.map(({ data, id }) => (
				<li class="flex flex-col gap-1 md:grid md:grid-cols-[1fr_140px] md:gap-4">
					<div class="space-y-2">
						<Link href={`/blog/${id}`}>{data.title}</Link>
						<p class="text-muted-foreground">{data.description}</p>
					</div>
					<time
						class="text-muted-foreground hidden text-right text-xs leading-6 md:block"
						datetime={data.pubDate.toISOString()}
					>
						{formatDate(data.pubDate)}
					</time>
				</li>
			))
		}
	</ul>
</section>
