---
import type { MarkdownHeading } from 'astro'
import BaseLayout from './base.astro'
import { formatDate } from '~/util/helpers'
import TableOfContents from '~/components/TableOfContents'
import generateToc from '~/util/generateToc'
import ReadingTime from '~/components/ReadingTime.astro'
import BackTopButton from '~/components/BackTopButton'
import PostLikes from '~/components/PostLikes'

type PostFrontmatter = {
	title: string
	description: string
	pubDate: Date
	image?: {
		url: string
		alt: string
	}
	minutesRead: number
}

// eslint-disable-next-line no-unused-vars
type Props = {
	frontmatter: PostFrontmatter
	headings: MarkdownHeading[]
	slug: string
}

const { frontmatter, headings, slug } = Astro.props
const date = formatDate(frontmatter.pubDate)
const toc = generateToc(headings)
---

<BaseLayout
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image?.url}
>
	<article class="mx-auto w-full max-w-2xl pt-12 lg:mx-0 lg:max-w-full">
		<header>
			<h1
				id="overview"
				class="scroll-mt-16 pb-6 text-3xl font-extrabold md:text-4xl max-w-4xl"
			>
				{frontmatter.title}
			</h1>
			<div class="flex items-center gap-6">
				<p class="text-sm font-semibold text-zinc-500 dark:text-zinc-400">
					{date}
				</p>
				<ReadingTime minutesRead={frontmatter.minutesRead} />
				<PostLikes client:visible slug={slug} />
			</div>
		</header>
		<div
			class="mt-12 flex flex-1 items-start justify-center pb-6 lg:justify-start"
		>
			<div
				class="prose prose-zinc mx-auto w-full prose-headings:scroll-mt-16 prose-h2:text-indigo-900 prose-code:before:hidden prose-code:after:hidden prose-pre:p-4 prose-img:rounded-md dark:prose-invert prose-h2:dark:text-yellow-400 md:prose-lg lg:mx-0 lg:max-w-2xl [&_:not(pre)_>_code]:rounded [&_:not(pre)_>_code]:bg-zinc-200 [&_:not(pre)_>_code]:px-2 [&_:not(pre)_>_code]:py-1 dark:[&_:not(pre)_>_code]:bg-zinc-700"
			>
				<slot />
			</div>
			<TableOfContents client:visible toc={toc} />
		</div>
		<div class="flex items-center justify-end pb-6 lg:hidden">
			<BackTopButton client:visible />
		</div>
	</article>
</BaseLayout>
