---
import type { MarkdownLayoutProps } from 'astro'
import BaseLayout from './base.astro'
import { formatDate } from '~/util/helpers'
import TableOfContents from '~/components/TableOfContents'
import generateToc from '~/util/generateToc'
import ReadingTime from '~/components/ReadingTime.astro'

// eslint-disable-next-line no-unused-vars
type Props = MarkdownLayoutProps<{
	title: string
	description: string
	pubDate: string
	image: {
		url: string
	}
	minutesRead: number
}>

const { frontmatter, headings } = Astro.props
const date = formatDate(frontmatter.pubDate)
const toc = generateToc(headings)
console.log(frontmatter.minutesRead)
---

<BaseLayout
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image.url}
>
	<div class="flex w-full items-start justify-center pt-12">
		<article id="blog-post" class="max-w-full flex-shrink-0">
			<header class="max-w-prose pb-16">
				<h1 id="overview" class="scroll-mt-16 pb-6 text-3xl font-extrabold">
					{frontmatter.title}
				</h1>
				<div class="flex gap-6">
					<p class="text-sm font-semibold text-zinc-300">{date}</p>
					<ReadingTime minutesRead={frontmatter.minutesRead} />
				</div>
			</header>
			<div
				class="prose prose-zinc prose-headings:scroll-mt-16 prose-code:before:hidden prose-code:after:hidden prose-pre:rounded-md prose-pre:p-4 prose-pre:shadow prose-img:rounded-md dark:prose-invert"
			>
				<slot />
			</div>
		</article>
		<TableOfContents client:load toc={toc} />
	</div>
</BaseLayout>
