---
import type { MarkdownHeading } from 'astro'
import BaseLayout from './base.astro'
import { formatDate } from '~/util/helpers'
import TableOfContents from '~/components/TableOfContents'
import generateToc from '~/util/generateToc'
import BackTopButton from '~/components/BackTopButton.astro'
import PostStats from '~/components/post-stats'
import Aside from '~/components/aside.astro'
import Undo from '~/components/icons/Undo.astro'

interface PostFrontmatter {
	title: string
	description: string
	pubDate: Date
	image?: {
		url: string
		alt: string
	}
	minutesRead: number
}

interface Props {
	frontmatter: PostFrontmatter
	headings: MarkdownHeading[]
	slug: string
}

const { frontmatter, headings, slug } = Astro.props
const date = formatDate(frontmatter.pubDate)
const isoDate = new Date(frontmatter.pubDate).toISOString()
const toc = generateToc(headings)
---

<BaseLayout
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image?.url}
>
	<Aside>
		<a
			href="/writing"
			class="flex items-center gap-1 py-1 text-sm leading-tight"
			><Undo />Writing</a
		>
		<div class="hidden xl:block">
			<TableOfContents client:visible toc={toc} />
		</div>
	</Aside>
	<article>
		<header>
			<h1 id="overview" class="scroll-mt-16 font-medium">
				{frontmatter.title}
			</h1>
			<time
				class="text-muted-foreground flex flex-wrap items-center gap-6 gap-y-4"
				datetime={isoDate}
			>
				{date}
			</time>
		</header>

		<div class="prose mt-12 flex-1 pb-6">
			<slot />
		</div>
		<div class="flex items-center justify-between pt-4">
			<PostStats client:idle slug={slug} />
			<BackTopButton />
		</div>
	</article>
</BaseLayout>
