---
import type { MarkdownHeading } from 'astro'
import BaseLayout from './base.astro'
import { formatDate } from '~/util/helpers'
import TableOfContents from '~/components/TableOfContents'
import generateToc from '~/util/generateToc'
import ReadingTime from '~/components/ReadingTime.astro'
import BackTopButton from '~/components/BackTopButton'
import PostStats from '~/components/post-stats'

type PostFrontmatter = {
	title: string
	description: string
	pubDate: Date
	image?: {
		url: string
		alt: string
	}
	minutesRead: number
}

type Props = {
	frontmatter: PostFrontmatter
	headings: MarkdownHeading[]
	slug: string
}

const { frontmatter, headings, slug } = Astro.props
const date = formatDate(frontmatter.pubDate)
const toc = generateToc(headings)
---

<BaseLayout
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image?.url}
>
	<article>
		<header>
			<h1 id="overview" class="scroll-mt-16 font-medium">
				{frontmatter.title}
			</h1>
			<div class="flex flex-wrap items-center gap-6 gap-y-4">
				<p class="text-muted-foreground text-sm">
					{date}
				</p>
				<ReadingTime minutesRead={frontmatter.minutesRead} />
				<PostStats client:visible slug={slug} />
			</div>
		</header>
		<div
			class="mt-12 flex flex-1 items-start justify-center pb-6 lg:justify-start"
		>
			<div
				class="prose prose-neutral prose-headings:scroll-mt-16 prose-h2:text-indigo-900 prose-code:before:hidden prose-code:after:hidden prose-pre:p-4 prose-img:rounded-md dark:prose-invert prose-h2:dark:text-yellow-400 mx-auto w-full max-w-full lg:mx-0 [&_:not(pre)_>_code]:rounded [&_:not(pre)_>_code]:bg-zinc-200 [&_:not(pre)_>_code]:px-2 [&_:not(pre)_>_code]:py-1 dark:[&_:not(pre)_>_code]:bg-zinc-700"
			>
				<slot />
			</div>
		</div>
		<div class="flex items-center justify-end pb-6 lg:hidden">
			<BackTopButton client:visible />
		</div>
	</article>
	<TableOfContents client:visible toc={toc} />
</BaseLayout>
