---
import type { MarkdownLayoutProps } from 'astro'
import BaseLayout from './base.astro'
import { formatDate } from '~/utils/helpers'

// eslint-disable-next-line no-unused-vars
type Props = MarkdownLayoutProps<{
	title: string
	description: string
	pubDate: string
}>

const { frontmatter } = Astro.props
const date = formatDate(frontmatter.pubDate)
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
	<article class="prose dark:prose-invert">
		<h1 class="text-3xl font-extrabold">{frontmatter.title}</h1>
		<p>{frontmatter.description}</p>
		<p>Written on: {date}</p>
		<slot />
	</article>
</BaseLayout>

<style is:global>
	pre {
		padding: 16px;
		border-radius: 6px;
	}
</style>
